/* Custom styles */
/*
DePaul IHS
*/

@font-face {
    font-family: 'GibsonSemiBold';
    src: url('http://www.housingstudies.org/static/css/fonts/gibson-semibold-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/gibson-semibold-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/gibson-semibold-webfont.svg#GibsonSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GibsonBold';
    src: url('http://www.housingstudies.org/static/css/fonts/gibson-bold-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/gibson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/gibson-bold-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/gibson-bold-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/gibson-bold-webfont.svg#GibsonBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('http://www.housingstudies.org/static/css/fonts/ColabThi-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabThi-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/ColabThi-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateRegRegular';
    src: url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.svg#ColaborateRegRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AlegreyaBold';
    src: url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.svg#AlegreyaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

    
body { 
  font: 16px/1.3em 'ColaborateThinRegular', sans-serif;
  margin:0; 
  padding:0;
}
    
#topNav {
  position: absolute;
  top: 0;
  height: 72px;
  padding: 5px 5px;
  background: #eae9e5 url('/images/bg.png') 0 0 repeat-x;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #333;
}
    
#topNav h2 {
  font: 22px/1em 'GibsonBold', serif;
  color: #615c5c;
  text-transform: uppercase;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 80px;
} 

#logo { padding-left: 5px; float: left;}
    
#map { 
  position:absolute; 
  top:72px; 
  bottom:0; 
  width:100%; 
  z-index: 1;
}

.map-tooltip {
  border-radius: 0;
  border: none;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, arial, sans-serif;
}

.tooltip td {
  text-align: right;
}

.legend-box {
  white-space: nowrap;
  text-align: left;
}

.legend-box span {
  display: block;
  float: left;
  height: 15px;
  width: 20px;
  margin-right: 5px;
  margin-left: 0;
  border: 0px solid #999;
}
 
.legend-source {
  font-size: 0.67778rem;
  color: #2c2d2d;
  clear: both;
}

#my-legend { font: 'ColaborateThinRegular', sans-serif;}
#my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  }
#my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }
#my-legend .legend-scale ul li {
  font-size: 0.77778rem;
  color: #2c2d2d;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
#my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 45px;
  margin-right: 5px;
  margin-left: 0;
  border: 0px solid #999;
  }
#my-legend .legend-source {
  font-size: 0.67778rem;
  color: #2c2d2d;
  clear: both;
  }
#my-legend a {
  color: #2c2d2d;
  }

@media only screen and (max-width: 840px) {
 #topNav h3 {
  opacity: 0;
 }
}

table {
  background: #fff;
  margin-bottom: 1.11111rem;
  border: solid 1px #ddd; }
  table tr th, table tr td {
    padding: 0.3rem 0.55556rem;
    font-size: 0.77778rem;
    color: #222;
    text-align: left;
  }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; 
  }
  table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
    display: table-cell;
    line-height: 1rem; 
  }